@charset "utf-8";
/* CSS Document */
b {
	font-size: 30px;
	color: aliceblue;
}
i {
	font-size: 30px;
	color: aliceblue;
}
.first {
	width: auto;
	height: auto;
	margin: 20px;
	border-radius: 10px;
}
a {
	color: aliceblue;

}
.box{
	text-align: center;
}
.pass{
	border-radius: 10px;
}
.cbox {
	margin-top: 20px;
}
.foot {
	color: aliceblue;
}
nav{
	/*float: right;*/
	text-align: right;
}
.head{
	margin-left: 50px;
}
iframe{
	width: 100%;
	height: 400px;
}
.food2{
	float: right;
}
.food3{
	float: right;
}
.food4{
	float: right;
}
.food5{
	float: right;
}
.menu #menu-flters {
  padding: 0;
  margin: 0 auto 0 auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
}

.menu #menu-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 12px 10px 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #948c81;
  margin-bottom: 10px;
  transition: all ease-in-out 0.3s;
  border-radius: 50px;
  font-family: "Poppins", serif;
}

.menu #menu-flters li:hover,
.menu #menu-flters li.filter-active {
  color: #fff;
  background: #294C2B;
}

.menu #menu-flters li:last-child {
  margin-right: 0;
}

.menu .menu-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  float: left;
  border: 5px solid rgba(196, 35, 35, 0.1);
}

.menu .menu-content {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;

}

.menu .menu-content::after {
  content: "......................................................................""....................................................................""....................................................................";
  position: absolute;
  left: 20px;
  right: 0;
  top: -4px;
  z-index: 1;
  color: #dad8d4;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.menu .menu-content a {
  padding-right: 10px;
  background: #fff;
  position: relative;
  z-index: 3;
  font-weight: 700;
  color: #294C2B;
}

.menu .menu-content span {
  background: #fff;
  position: relative;
  z-index: 3;
  padding: 0 10px;
  font-weight: 600;
}

.menu .menu-ingredients {
  font-style: italic;
  font-size: 14px;
  font-family: "Comic Neue", sans-serif;
  color: #948c81;
}

.menu .menu-item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.menu .menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 16px 0;
}
html {
  scroll-behavior: smooth;
}
